


.khung {
    height: 200px;
    width: 250px;
    margin: 10px 20px; 

   
}
.k1 {
    background-color: rgb(40, 206, 142);
}
.k2 {
    background-color: rgb(147, 52, 255);
}
.k3 {
    background-color: rgb(231, 171, 40);
}







