*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.main-area{
    width: 1000px;
    height: 350px;
    margin: 50px auto;
    background-color: rgb(233, 168, 83);

}
.main-left{

    float: left;
    width: 65%;
    height: 100%;
    /* background-color: rgb(196, 180, 164); */

}
.main-right{
    width: 33%;
    height: 100%;
    /* background-color: rgb(90, 63, 37); */
    float: right;
}

h3 {
    font-size: 15px;
     font-weight: 900; /* chữ đậm */
     margin-bottom: 5px;
     padding-top: 30px;
}

h5 {
    font-size: 10px;
    margin-bottom: 20px;
}

h6 {
    font-size: 6px;
    margin-bottom: 20px;
}

span {
    font-size: 10px;
    font-weight: 900; /* chữ đậm */

}

.topic1 ,.topic2,.topic3{
    margin-bottom: 30px;
}

.topic1 ,.topic2,.topic3 ,h3,h6{
    margin-left: 10px;
    margin-right: 5px;
}

.topbox {
    width: 100%;
    height: 49%;
}
.bottombox{
    width: 100%;
    height: 50%;
  
}

.leftbox {
    width: 20%;
    height: 176px;
    float: left;
}

.rightbox {
    width: 80%;
    height: 176px;
    float: right;
}



.leftbox >div{
    padding-top: 1px;
    margin-bottom: 15.5px;
    margin-left: 10px;

}

.rightbox >div {
 
    margin-left: 10px;
   line-height: 7px;
   padding-top: 5.5px;
}




