.main{
    margin: 0 auto;
    width: 760px;
    height: 250px;
    background-color: green;
    margin-top: 50px;
}
.main .area{

    float: left;
    width: 30%;
    height: 70%;

}

.main .bx2{
    margin: 0px 30px;
}


.area h3{
    color: rgb(206, 241, 47);
    margin: 5px;
    padding:10px;
}

.area p{
    margin: 0 8px;
    text-align: justify;
    color: aliceblue;
}
